/* COLORES PRINCIPALES */
:root{
    --azul : #1a7a6e;
    --celeste : #29b89e;
    --verde :    #a8d44a;
    --negro : #0d1f1c;
    --gris : #e6e8e6;
    --blanco: #ffffff;
    --grad: linear-gradient(135deg, --celeste 0%, --verde 100%);
}
.navbar-brand{
    color: var(--verde);
    font-family: 'DM Sans', sans-serif;

}
body{
    background: var(--gris);
    overflow-x: hidden;
    font-family: 'DM Sans', sans-serif;
}


.navbar {
    background: rgba(13,31,28,.92);
    color: var(--verde);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,.08);
    padding: 16px 32px;

}